






.footerBox{

  width: 100%;
  border: 1px solid black;

  height: 160px;
  background: black;
  color: white;
  display: grid;

  grid-template: 1fr / 1fr 1fr 1fr ;
  justify-items: center;
  align-items: center;

  font-family: Verdana, Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-align: center;

  .footerBox_Messengers{

    a{
      margin: 10px;
    }
  }








}
