



<div class="footerBox">

    <p>botanicaDecor@yandex.ru</p>
    <p>+7-903-604-85-71</p>

  <div class="footerBox_Messengers">
      <a href="">
        <img src="assets/icon/vk.png" alt="">
      </a>
      <a href="">
        <img src="assets/icon/instagram.png" alt="" >
      </a>
        <a href=""> <img src="../../assets/icon/Telegram.png" alt=""></a>
        <a href=""> <img src="../../assets/icon/Viber.png" alt=""></a>
        <a href=""> <img src="../../assets/icon/WhatsApp.png" alt=""></a>
  </div>


</div>



