



// arrayProducts!!!!!!!!!!!!!!!!!!!!!!


.arrayProducts{
  margin-top: 3%;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 100px;


  box-sizing: border-box;

  z-index: 0;
  display: grid;
  grid-template-columns:  1fr 1fr 1fr 1fr;
  justify-items: center;


}





.arrayProducts_elementBox{
  position: relative;
  width: 80%;
  padding: 1%;
  margin-top: 20px;
  height: 400px;


  box-sizing: border-box;

  //overflow: hidden;

  a{
    //border: 1px solid red;
    display: flex;
    //height: 300px;

    height: 80%;
    img{

      //border: 1px solid blue;
      width: 100%;
      object-fit: cover;
    }
  }



  .header{
    //margin-top: auto;
    height: 20%;
    text-align: center;
    //border: 1px solid red;
  }


  .button{
    display: none;
    button{
      border:1px solid #f368d7;
      background-color: #ffffff;

      transition-duration: 1s;
      //outline: none;
      }
    }

}






.arrayProducts_elementBox:hover{

  //border: 2px solid red;
  border:none;
  //box-shadow: 0 3px 20px black;
  box-shadow: 0px -7px 20px 5px rgba(50, 50, 50, 0.75);
  box-shadow-bottom: none;

  .button{
    z-index: 1;
    background: #ffffff;
    position: absolute;
    left: 0;
    top: 96%;
    width: 100%;
    height: 20%;
    //border: 2px solid red;
    border-top:none;
    //box-shadow: 0 3px 20px black;
    box-shadow:         0px 15px 10px 5px rgba(50, 50, 50, 0.75);

    //box-sizing: border-box;

    display: flex;
    justify-content: center;
    align-items: center;
    button{
      width: 75%;
      height: 50%;
      box-shadow:0px 5px 0px rgba(50, 50, 50, 0.75);
      border-radius: 10px ;

    }


    button:hover{
      background-color: #f368d7;

    }

    button:active{
      transition-duration: 0.1s;
      top:2px;
      box-shadow:0px 3px 0px rgba(50, 50, 50, 0.75);
    }

  }
}




.favorite{
  //display: none;
    // background-image: url("../../assets/icon/heart-white2.png");
   // background-image: url("../../assets/icon/heart-red.png");
    border: none;
    position: absolute;
    width: 28px;
    height: 26px;
    left: 10px;
    top: 10px;

}


.ActiveTag{
  color: red;
}










@font-face {

  font-family: "Measure";

  src: url("../../assets/font/Measure.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}



/////////////////////////////////////////////



@media (max-width: 1200px) {
  .arrayProducts {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
    padding-right: 0;
    margin-right: 0;

    .arrayProducts_elementBox{
      justify-self: center;
      width: 90%;
      padding: 10px;
    }


  }
}

@media (max-width: 1000px) {
  .arrayProducts {
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    padding-right: 0;
    margin-right: 0;

    .arrayProducts_elementBox{
      justify-self: center;
      width: 100%;
      padding: 10px;
      box-sizing: border-box;
    }


  }
}


@media (max-width: 750px) {
  .arrayProducts {
    grid-template-columns:  1fr 1fr;


    .arrayProducts_elementBox{
      width: 250px;
      height: 300px;
    }


  }
}

@media (max-width: 510px) {
  .arrayProducts {
    grid-template-columns:  1fr 1fr;


    .arrayProducts_elementBox{
      width: 150px;
      height: 200px;
    }

    .header{
      :first-child{display: none}
    }
  }
}


//
//@media (max-width: 460px) {
//  .arrayProducts {
//    grid-template-columns: 1fr 1fr 1fr;
//
//
//    .arrayProducts_elementBox{
//      width: 150px;
//      height: 200px;
//    }
//
//
//  }
//}
//




//
//@media (max-width: 750px){
//  .arrayProducts{
//    grid-template-columns:  1fr;
//    width: 65%;
//  }
//  .arrayProducts_elementBox{
//    height: 400px;
//    a{
//      height: 85%;
//    }
//  }
//
//
//  .header{
//    //margin-top: auto;
//    height: 15%;
//    text-align: center;
//    padding: 0;
//    margin: 0;
//    //border: 1px solid red;
//    p{
//      padding: 0;
//      margin: 0;
//    }
//  }
//}


@media (max-width: 450px){
  .arrayProducts_elementBox{
    height: 250px;}
}
