
<div *ngIf="user.status">



<nav class="navbarAdmin">
  <h1>
    <a routerLink="/">Admin menu</a>
  </h1>

  <ul>
    <li routerLinkActive="active">
      <a [routerLink]="['/admin','add']">Добавить товар</a>
    </li>

    <li routerLinkActive="active">
      <a [routerLink]="['/admin','orders']">Заказы</a>
    </li>
    <li routerLinkActive="active">
      <a [routerLink]="['/']">Выйти</a>
    </li>
  </ul>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>


</div>


<div *ngIf="!user.status">
  <h2>У вас нет права доступа</h2>
  </div>
