

<div class="headerBlock">

  <div class="headerBlock_title">

    <ul>

      <li>
        <h1>Botanica Decor</h1>
      </li>

      <li>
        <p>+7-903-605-9909</p>
      </li>

      <li>
        <a href="https://www.instagram.com/botanika_decor/?hl=ru">
          <img src="assets/icon/instagram.png" alt="" >
        </a>
      </li>

      <li>
        <a href="https://vk.com/botanika_decor">
          <img src="assets/icon/vk.png" alt="">
        </a>
      </li>

      <li>
        <a href="">Профиль</a>
      </li>

      <li>
        <a href="">Войти/Выйти</a>
      </li>


    </ul>



  </div>



  <nav class="headerBlock_topMenu">
    <ul>
      <li>  <a href="">Букеты</a> </li>
      <li>  <a href="">Цветы</a>  </li>
      <li>  <a href="">Композиции</a> </li>
      <li>  <a href="">Подарки</a>  </li>
      <li>  <a href="">Акции</a>  </li>
      <li>  <a href="">Избранные</a>  </li>
      <li>  <a href="">Корзина</a>  </li>
    </ul>
  </nav>

</div>
