

<div class="headerBlock">

  <div class="headerBlock_title">
        <h1>Botanica Decor</h1>
  </div>



  <nav class="headerBlock_topMenu">
    <ul>
      <li>  <a href="">Букеты</a> </li>
      <li>  <a href="">Цветы</a>  </li>
      <li>  <a href="">Композиции</a> </li>
      <li>  <a href="">Подарки</a>  </li>
      <li>  <a href="">Акции</a>  </li>
      <li>  <a routerLink="/favorites" >Избранные</a>  </li>
      <li>  <a routerLink="/basket">Корзина</a>  </li>
    </ul>
  </nav>

</div>
