
@font-face {
  font-family: BantyBold; /* Имя шрифта */
  src: url(../../assets/font/BantyBold.ttf);
}

.headerBlock{
  width: 100%;
  background-color: white;
  position: fixed;
  z-index: 1;
  margin-bottom: 200px;
  display: grid;
}

.headerBlock_title{
  height: 70px;
  font-family: Arial;
  font-size: 18px;
  text-align: center;
  display: flex;
  align-items: center;

.title{

  margin-right: auto;
  margin-left: auto;
}
.headerBlock_contacts{
  box-sizing: border-box;
  p{
    padding: 0;
    margin: 0;
  }
  .headerBlock_socialNetworks{
    display: flex;
    a{
      margin-right: 3px;
      margin-top: 3px;
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }
}

}



.headerBlock_topMenu{
  display:flex;
  justify-content: center;
  background-color:  #e52b50;
  height: 40px;
  font-family: Arial;
  font-size: 18px;
  .buttonBurger{
    display: none;
  }

ul{
  display: flex;
  width: 70%;
  justify-content: space-evenly;
  align-items: center;
  li{
     list-style-type: none;
    a{
      text-decoration: none;
    }
  }
}

}

.active{
  color:white;
}




.topMenuBurger{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e52b50;
  width: 100vw;
  z-index: 10;
  position: fixed;
  left: -100vw;
  top: 0;
  transition: all 0.5s;
  opacity: .95;
  ul {
    list-style: none;
    padding: 0;
    margin-top: 60px;
    height: 100vh;
  }
  a{
    display: block;
    color: #6f2d35;
    line-height: 50px;
    text-decoration: none;
    font-family: Roboto;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 3px;
    transition: all 0.3s;
    width: 100vw;
    display: flex;
    justify-content: center;
  }

  a:hover{
    background-color: white;
    width: 100vw;
  }

}

.activeBurg{
  left: 0;
}
.activeBurger{
  background-image: url("../../assets/icon/burger2.png");
}


.topMenuBurger_close{
  font-size: 35px;
  font-weight: bold;
  text-align: end;
  padding-right: 60px;
  user-select: none;
}

