

<div class="Padding">

  <div  class="basketProduct" *ngFor = "let element of basketService.copyArray" >

    <div class="basketProduct_imageBlock">
      <img src="{{element.image[0]}}" alt="" >
    </div>

    <div class="basketProduct_nameProduct">
      <p>{{element.name}}</p>
    </div>

    <div class="basketProduct_deleteButton">
      <button class="delete" (click)="basketService.deleteElement(element._id)"></button>
    </div>

    <div class="basketTable_counter">
      <button (click)="decrise(element)">  - </button>
      <p>  {{element.quantity}} </p>
      <button (click)="incrise(element)">  + </button>
    </div>



    <div class="basketTable_price">
      <p>{{element.price * element.quantity}}</p>
    </div>

  </div>


  <div class="placeAnOrder">
    <p>Итого : {{basketService.sumPrice}} </p>
    <button (click)="basketService.orderAdd()" [disabled] = "!basketService.copyArray.length">Оформить заказ</button>
  </div>
</div>


