

.productArray{
  width: 70%;
  margin-right: auto;
  margin-left: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border-bottom: 1px solid grey;
  padding-top: 10px;
  padding-bottom: 10px;
  justify-content: space-around;

  .productArray_ImageBox{
    height: 150px;
    display: grid;
    align-content: center;
    justify-content: center;
    overflow: hidden;

    img{
      display: block;
      object-fit: cover;
      width: 150px;
    }
  }

  :nth-child(2){
    display: grid;
    align-content: center;
    justify-content: center;
  }
  :nth-child(3){
    display: grid;
    align-content: center;
    justify-content: center;
  }

}






.header{
  width: 70%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 60px;
}

.header_orderTitle{
  display: flex;
  justify-content: space-around;
}





.header_StatusBox{
  display: flex;
  border: 1px solid black;
  width: 100%;

  div{
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
    display: grid;
    align-content: center;
    justify-content: center;
    transition: 0.3s;
  }
}
h2{
  text-align: center;
}


.disabled{
  background-color: #e7e7e7;
  border: 1px solid black;
}

.enableCompleted{
  background-color: white;
  box-shadow:  0 0 10px #4efd51;
  border: 3px solid #4efd51;
}


.enableActive{
  background-color: white;
  box-shadow:  0 0 10px black;
  border: 3px solid black;
}

.enableCanceled{
  background-color: white;
  box-shadow:  0 0 10px red;
  border: 3px solid red;
}
