




<div class="OrdersBlock">

  <h2>Заказы</h2>

  <div class="sortBox">

      <div class="sortBox_selectSort">
        <label for="sortSel">Сортировать</label>
        <select name="" id="sortSel" (input)="orderService.setSort($event)" >
          <option >{{orderService.arraySort[0]}}</option>
          <option >{{orderService.arraySort[1]}}</option>
          <option >{{orderService.arraySort[2]}}</option>
        </select>
      </div>


      <div class="sortBox_date"
        [ngClass] ="{
        hide: !(orderService.choiceSort === orderService.arraySort[1])
      }">
        <div>
          <label>От</label>
          <input type="date" (input)="orderService.setDateFrom($event)">
        </div>

        <div>
          <label>До</label>
          <input type="date" (input)="orderService.setDateBefore($event)">
        </div>

      </div>



      <div class="sortBox_numberOrder"
           [ngClass] ="{
        hide: !(orderService.choiceSort === orderService.arraySort[0])
      }">
        <div>
          <label >Номер</label>
          <input type="number" min="0" (input)="orderService.setSearchNumber($event)">
        </div>
      </div>


      <div class="sortBox_condition"
           [ngClass] ="{
        hide: !(orderService.choiceSort === orderService.arraySort[2])
      }">

        <div>
          <label>Активные</label>
          <input type="checkbox" checked (click)="orderService.setSortStatus(0)">
        </div>

        <div>
          <label>Выполненные</label>
          <input type="checkbox" checked (click)="orderService.setSortStatus(1)">
        </div>

        <div>
          <label from="CanceledOrders">Отменнёные</label>
          <input type="checkbox" id="CanceledOrders" checked (click)="orderService.setSortStatus(2)">
        </div>

      </div>

  </div>









  <div class="OrdersBlock_order"

       *ngFor = "let element of orderService.partArrayOrders"
       [ngClass] = "{
        canceled: element.status === 2,
        completed: element.status === 1}"
       (click)="orderService.goToOrder(element)"
  >

    <div>
      <p>Заказ №{{element.number}}</p>
    </div>

    <div>
      <p>Дата: {{element.time | date}}</p>
    </div>

    <div>
      <p>Цена: {{element.total}}</p>
    </div>

  </div>

  <div class="pageNumber">

    <p (click)="orderService.decrease()">&#5176;</p>
    <p (click)="orderService.start()">1</p>
    <div>
      <input type="number" [value]="orderService.numberOfPages" maxlength="3" (input)="orderService.changeNumber($event)">
    </div>

    <p (click)="orderService.end()">{{orderService.maxLengthOrdersArray}}</p>
    <p (click)="orderService.increase()">&#5171;</p>

  </div>


 </div>

